[2017-08-16 19:00] rogueturnip opened #1 "koa depreciated support for generators"
Started trying to get this to work and had this warning appear
koa deprecated Support for generators will be removed in v3. See the documentation for examples of how to convert old middleware https://github.com/koajs/koa/blob/master/docs/migration.md src/index.js:54:9

[2017-08-18 19:17] 2bigO commented on #1
@rogueturnip the project currently uses babel for backward compatibility with node 4 and being able to use ES6 JS syntax. Babel transforms `async/await` to generators, that's how it works with older versions of node.

I could create an *@next* tag on npm that works only with Node 7+ (just like Koa), and drop generators transformation, will that solve any specific issues you may be facing?

[2017-08-18 19:20] rogueturnip commented on #1
That would be a perfect solution.  I didn't realize that was what being done by babel.

[2017-08-19 17:22] 2bigO commented on #1
@rogueturnip done, there is now a `next` branch and a `next` tag on `npm`:

[code]

you'd need node 7.6+ for this version.

Please feel free to re-open if you faced any further issues.

[2017-08-19 17:22] #1 closed

[2017-08-24 17:46] rogueturnip opened #2 "define vs jobs"
Hi!

I wanted to ask a question about the implementation just to understand the logic.  The API /api/new creates a definition of a job and the callback and then /api/every or /api/schedule creates the jobs.  I was wondering what the reason was not to just create the definition at the same time as the job is created?  Why did you decide to create a table of definitions?

Thanks!

Tony

[2017-08-24 18:52] 2bigO commented on #2
Hi Tony,

`agenda-rest` is just a wrapper around [`agenda`](https://github.com/agenda/agenda), the amazing and widely popular scheduler by @rschmukler.

I guess the reason for this design decision is to be able to delete all jobs of a specific "type" (denoted by name) via the delete operation.

Also, one could get decent analytics grouped by name, e.g. using the [`agendash`](https://github.com/age

[2017-08-24 18:58] rogueturnip commented on #2
Great thanks!  It's a really nice wrapper!  What I initially was confused with is I thought that /api/new created a generic definition that I could then create jobs of different names to use but that wasn't the case.  The name of the job has to match the name of the definition.

My use case was to create a generic call to an API in the definition and then jobs to call it for different processess w

[2017-08-24 20:32] 2bigO commented on #2
I didn't know that was the case, the solution you proposed seems to work, but would be a hack. Can you check whether this restriction holds in upstream (latest agenda), if not I should update agenda's version to latest, if so, can you think of a better way to resolve it in `agenda-rest`'s code? I could cook up the solution that you arrive at in a few days, or even better, code it yourself and subm

[2017-08-24 20:53] rogueturnip commented on #2
I checked out the agenda issues and it's something that's liked as a feature request to allow for "single" to be set in the every call but right now it's a restriction.

I'll do the changes myself, I've been doing a lot of modifications, adding in apis that allow viewing of the definitions and jobs, removing jobs or definitions, and also schedule that repeats daily at a certain time or a scheduled

[2017-08-25 08:31] 2bigO commented on #2
Super cool, if you felt these additions would be of use to others, I'd very much appreciate if you could share them as a pull request here.

[2017-08-25 08:31] #2 closed

[2018-02-01 09:00] simison opened #3 "Wanna join the gang?"
Hello @keyvan-m-sadeghi 👋

You've done some impressive work here! :thumbsup: :thumbsup:

We're working on Agenda and [Agendash](https://github.com/agenda/agendash) — latter one has built-in API like yours. It would be awesome if the API would be separate (like your package), somewhat "official" and Agendash could use that then instead.

What do you think? Would you be interested helping out with s

[2018-02-01 09:05] simison commented on #3
Pinging @naterkane here as well, because of similar but a bit older package https://github.com/naterkane/rest-scheduler :-)

[2018-02-01 10:31] 2bigO commented on #3
Hi @simison 🖐️
Sure, sounds like a great idea. We can start with moving this repo to @agenda, then I can apply the changes needed for Agendash to use this package if someone directs me how in an issue.

[2018-02-01 10:36] 2bigO commented on #3
I just tried to transfer the ownership, seems it needs a permission.
![screenshot_20180201-140319](https://user-images.githubusercontent.com/1758649/35674159-0209e4ca-0759-11e8-8b68-22572c804ef0.jpg)

[2018-02-01 10:40] OmgImAlexis commented on #3
Could you transfer it to one of us and we can the move it?

[2018-02-01 10:42] simison commented on #3
This is awesome! :tada:

I'll just add @keyvan-m-sadeghi to org and we can move it directly to @Agenda then. (Update: done, check email or visit org site)

[2018-02-01 10:50] 2bigO commented on #3
Done

[2018-02-01 10:50] #3 closed

[2018-02-01 10:59] simison opened #4 "Master todo thread"
I just want to list here quickly what could/should be done. Each topic could be its own issue/PR.

### Janitorial
We'd love to have this repo in line with our other repos (see @Agenda) and that mostly includes
- [x] using [`xo`](https://www.npmjs.com/package/xo),
- [x] codebase in ES6,
- [x] tests with [`ava`](http://npmjs.com/package/ava).
- [x] Add this to our Travis CI

I already wrote at Slack

[2018-02-01 11:01] OmgImAlexis commented on #4
I'll take clean up. I've already got `xo --fix` running as we speak. Let's hope @keyvan-m-sadeghi is cool with that.

[2018-02-01 11:09] 2bigO commented on #4
I'm always cool with progress, do anything you see fit

[2018-02-01 13:10] naterkane commented on #3
I have some updates to the rest-scheduler that I'm not sure ever got pushed. Haven't looked at it in about 18 months though iirc.

[2018-02-01 14:12] simison commented on #3
@naterkane yup! would be great if you can have a look at this repo (now transferred to `/agenda/agenda-rest`) to see if there's something in your work that could be brought over to there — for joint effort! 💪

I picked _this_ repository initially for @Agenda because had more recent work than yours. ;-) No hard feelings.

[2018-02-01 14:39] naterkane commented on #3
I'm not offended. The one I put together had a specific strategy. Send ANY
payload to a url, at a given time. I used it to fire payloads to rest
endpoints within a large, complicated SoA application.. our implementation
ended up not using Mongo, but something that could provide atomicity at
scale and use less resources.

On Feb 1, 2018 9:12 AM, "Mikael Korpela" <notifications@github.com> wrote:

[2018-02-01 14:46] simison commented on #3
Great! :-)

[2018-02-01 16:39] keyvan-m-sadeghi opened #6 "Choose HTTP client"
Is it a good idea to use [`axios`](https://github.com/axios/axios) in place of `request-promise`?

[2018-02-01 16:52] simison commented on #6
I'd say the one who works on it gets to choose. ;-)

[2018-02-02 01:26] OmgImAlexis commented on #6
I'd suggest [Frisbee](https://github.com/niftylettuce/frisbee) it's based on fetch and I use it throughout my other projects without any issues.

[2018-02-02 17:51] 2bigO commented on #6
@OmgImAlexis Frisbee looks very nice! Thanks for suggestion. I'll wait to see what requirements we have from Agendash then come back to this while integrating those changes. Thanks again. Closing for now.

[2018-02-02 17:51] #6 closed

[2018-02-02 18:00] 2bigO commented on #4
Renaming this project to `agenda-api` is a very neat idea.
Also, what's you opinion on renaming `/api/new` to `/api/define`?
It's more consistent with Agenda terminology, also semantically makes sense, since one can re-define an already existing job and change the URL with this endpoint.

[2018-02-02 22:37] OmgImAlexis commented on #4
If we're going to do REST properly we shouldn't really have a `/new` we should `POST` to `/job` for a new one, `DELETE` to remove, `PUT` for update, etc.

[2018-02-02 22:44] simison commented on #4
☝️ I second @OmgImAlexis

If the API isn't going to be [restful](https://developer.mozilla.org/en-US/docs/Glossary/REST), we should indeed rename it.

That said, making it restful would make it easier to reason about. REST kinda dictates routes and everything to us so we wouldn't need to spend time designing the API that much but building cool stuff with it instead. :-)

Thanks for bringing this u

[2018-02-03 05:19] 2bigO commented on #4
Alright, that makes perfect sense. Will rename to `/api/job` and also add `PUT` and `DELETE` tonight or tomo 👍

[2018-02-03 10:48] 2bigO commented on #4
Done. Only `DELETE` remains

[2018-02-03 10:52] simison commented on #4
ref: https://github.com/agenda/agenda-rest/pull/10

[2018-02-03 11:34] OmgImAlexis commented on #4
@keyvan-m-sadeghi it'd be a smart idea to allow `/api/job/:jobId` to be a specific job if you haven't already added that.

[2018-02-03 11:45] 2bigO commented on #4
@OmgImAlexis you mean a `GET` for a specific job? Yeah, sounds good

[2018-02-03 11:46] OmgImAlexis commented on #4
As well as updating a single one. `/api/job` should really affect all jobs since that's how REST works.

[2018-02-03 21:36] 2bigO commented on #4
Hmmm this last suggestion doesn't resonate with me. The way I see it, _"to `POST` to `job`"_ reads as _introducing a single job_. If it was `jobs` I'd get it. Also I'm not sure who'd need a batch update on all jobs' URLs.

[2018-02-03 21:41] 2bigO commented on #4
Another point, Agenda abstracts away implementation details such as Mongo IDs (e.g. `jobId`), the `name` for each job is the unique getter. So I guess `/api/job/:name` is more suitable. And we actually already have that since this would need to be a `POST` or `PUT` accompanied with a `body`, hence `:name` could be moved to the `body` and that we already have. What do you think?

[2018-02-03 21:47] 2bigO commented on #4
Huh the last part of what I just said is wrong, it is a `GET` request, so `/api/job/:name` makes perfect sense. Let me know your opinion and I'll add the endpoint accordingly

[2018-02-03 23:06] OmgImAlexis commented on #4
@keyvan-m-sadeghi This would be RESTFUL.

[code]

[2018-02-03 23:09] simison commented on #4
Yep ☝️  Tho it would be even more RESTFUL if URL path would be `/api/jobs/*` ;-D

Nice list, thanks @OmgImAlexis

I'll just throw in what Agendash seems to [use](https://github.com/agenda/agendash/blob/b7b8ac301cb41e146aaf52a1806af4029cb7d405/lib/middlewares/express.js) currently:
- `GET /api`
- `POST /api/jobs/requeue` (takes multiple ids)
- `POST /api/jobs/delete` (takes multiple ids)
- `POST /a

[2018-02-03 23:25] simison commented on #4
I'll also list what Agenda does, more or less —

[Define a job](https://github.com/agenda/agenda#definejobname-options-fn)

[Creating jobs](https://github.com/agenda/agenda#creating-jobs):
- every
- schedule
- now
- create (+save)

[Manually working with a job](https://github.com/agenda/agenda#manually-working-with-a-job):
- repeatEvery
- repeatAt
- schedule
- priority
- unique
- fail
- run
- save

[2018-02-03 23:41] OmgImAlexis commented on #4
I'm good with adding versioning in the API as we can handle old traffic going to the API without a version number and then return a deprecated notice.

We may need to push a minor update to the old version that just checks if the endpoint returns a certain HTTP code(maybe 410?) and then errors out asking them to update.

[2018-02-04 00:10] 2bigO commented on #4
OK now I understand.

I added these three:
[code]

And I'm done for this weekend ;)

[2018-02-04 00:20] 2bigO commented on #4
+1 for versioning

[2018-02-04 00:56] simison commented on #4
Some good food for thought about multiple IDs: https://stackoverflow.com/a/9372278/1984644

i.e. `DELETE /job?id=1,2,3` not `DELETE /job/1,2,3`

[2018-03-09 04:29] trejas opened #14 "Command line flag does not change DBhost"
``agenda-rest -h 172.18.0.3 -d Agenda``

throws the following error:
[code]
Looks like it is still trying to connect to the localhost DB. Or am I doing something wrong?

[2018-03-09 16:48] 2bigO commented on #14
Interesting, thanks for reporting @trejas
Checking on this now. Meanwhile, could you please check whether `--dbhost` and `--dbname` work? So like this:

[code]

#### UPDATE

That was not the cause, `seetings.js` would have duplicates in the transpile process. Fixed in 9ec7310

[2018-03-09 17:44] #14 closed

[2018-03-09 17:47] 2bigO commented on #14
@trejas should be fixed in `0.7.3`. Appreciate if you could confirm 🎉 Feel free to reopen if the issue persisted.

[2018-03-09 18:20] 2bigO commented on #1
### UPDATE

The [current babel setup](https://github.com/agenda/agenda-rest/blob/0722556670dc56ccac54b405e57cbfce4f365f4a/.babelrc) uses the `"env"` preset and `"node": "current"`, hence only adding the transforms needed for the node version that is being used. Accordingly, the `@next` tag and the corresponding branch (deleted) are now obsolete.

[2018-03-26 22:21] campbellrw opened #15 "Cannot find module '../settings'"
Following instructions in README, did this:

and get the following:

module.js:538
    throw err;
    ^

Error: Cannot find module '../settings'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/usr/lib/node_modules/agenda-rest/dist

[2018-03-27 06:20] 2bigO commented on #15
Thanks for reporting @campbellrw.
@farhoud could you take a look?

[2018-03-27 23:52] OmgImAlexis commented on #15
You never added the file to npm.

https://github.com/agenda/agenda-rest/blob/master/package.json#L19

[2018-03-28 09:29] 2bigO commented on #15
Great observation @OmgImAlexis! I don't have access to my PC for the next few days. Could you please add this and publish a new version?

[2018-04-02 12:49] 2bigO commented on #15
@campbellrw this should be fixed in `v0.7.4` which you can get with `npm update agenda-rest`, appreciate if you could confirm. Please feel free to reopen if the issue persisted.

[2018-04-02 12:49] #15 closed

[2018-05-16 17:29] eaf-josephportello opened #17 "Adding Jobs Returns Duplicate ObjectID"
Hey there. We are experiencing some strange behavior and we are unsure if it is our own fault from lack of understanding or something to do with agenda-rest.

Error:

WriteError({"code":11000,"index":0,"errmsg":"E11000 duplicate key error collection: agenda.jobDefinitions index: _id_ dup key: { : ObjectId('5afc675a3f77ac1f5715b6ba') }","op":{"name":"test111","url":"192.168.1.17:1880/relayon","meth

[2018-05-20 22:30] 2bigO commented on #17
Hi @eaf-josephportello

Sorry for the delay in response, traveling.

I've just replicated this error. The fault is in the `agenda-rest` code, working on it.

Thanks for reporting!

[2018-05-20 23:26] #17 closed

[2018-05-20 23:30] 2bigO commented on #17
@eaf-josephportello

I just tested this with `agenda-rest@0.7.5` that I just pushed and it seems to be resolved.

You'll need to update:

[code]

Please feel free to reopen if the issue persisted.

Thanks again 🎉

[2018-07-20 08:27] simison opened #20 "Agenda v2.0.0"
Agenda v2.0.0 is out now.

We should test and make sure this library works with it. :-)

If and when it does, we could add this to the feature comparison chart: https://github.com/agenda/agenda#feature-comparison

[2018-07-21 18:54] 2bigO commented on #20
Right. I will make `agenda-rest` compatible with version 2.0 during next week. Good job 👍

[2018-07-22 04:28] OmgImAlexis commented on #20
Shall we bump this to `v2.0.0` to coincide with Agenda?

[2018-07-22 08:03] simison commented on #20
Yeah, I guess we need a major version bump. Suppose the API of `agenda-rest
` won't have breaking changes but folks might need upgrading since Agenda v2 has changed Node.js & MongoDB version requirements.

The next major version is `1.0.0` — in my opinion that's okay, bumping up to `2.0.0` might just confuse. I don't think we should start following Agenda's versions for this package — better stick

[2018-07-22 08:04] OmgImAlexis commented on #20
I'm open for anything as long as we keep to it.

[2018-07-29 10:01] 2bigO commented on #20
I cooked an initial draft at #21. The impeding problem I'm facing now is that the `processor` for `agenda.define` does not get invoked. There is no signature change for `agenda.define` in `v2.0.0`, right? Any suggestions? I'm on `mongo@3.6.4`, does this matter?

UPDATE: This was not the issue, had bad code in `define` body

[2018-07-29 17:38] 2bigO commented on #20
Done. @OmgImAlexis appreciate if you merge when you reviewed 🚀 let me know if anything needs changing before the merge

[2018-08-02 07:44] Mr-Sharma opened #22 "POST /api/job/cancel API cancels a job only when "name" is submitted"
The above API cancels a job based on  **name** only. Can we cancel a job based on **_id** or using properties of **job.data**  like in agenda?

[2018-08-02 12:51] 2bigO commented on #22
The code passes POST data directly to the cancel method of agenda, which accepts a mongo query. Do you get an error without submitting the name? Can you paste the error here?

[2018-08-09 06:22] Mr-Sharma commented on #22
There is no error as such. It just says 0 jobs cancelled.

[2018-09-02 12:23] 2bigO commented on #22
I was able to reproduce the issue, thanks for reporting @Mr-Sharma, this will be resolved in the upcoming `v1.0.1`, i.e. when #21 is merged. Thanks again.

[2018-09-15 11:28] 2bigO commented on #22
@Mr-Sharma this should be resolved by updating to `v1.0.1` which I just published. Appreciate if you could test and confirm 👍  Feel free to reopen if the issue persisted.

[2018-09-15 11:30] 2bigO commented on #20
I just published `agenda-rest@1.0.1` to npm. Can this be closed now or is there anything else @simison?

[2018-09-15 17:50] simison commented on #20
Perfect! Thanks for working on it; this can be closed. 👍

On Sat, 15 Sep 2018, 14:30 Keyvan Mir Mohammad Sadeghi, <
notifications@github.com> wrote:

[2018-09-15 18:48] #20 closed

[2018-09-17 11:04] keyvan-m-sadeghi opened #26 "CTRL+C does not work"
The [graceful shutdown code](https://github.com/agenda/agenda-rest/blob/master/cli.js#L24) does not reach [process exit](https://github.com/agenda/agenda-rest/blob/master/cli.js#L29), hence the app remains open.

[2018-12-18 15:07] DanielP42 opened #40 "Dont use latest in dockerfile"

[2019-06-12 03:45] joehuangcoding opened #53 "SyntaxError: Unexpected token *"
When I do npm run start, I am getting this error. Any ideas?

/***************************************************************************************************/
async * [Symbol.asyncIterator]() {
          ^

SyntaxError: Unexpected token *
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:599:28)
    at Object.Module._extensions..

[2019-06-13 01:43] joehuangcoding commented on #53
You need node 10.

[2019-06-13 01:43] joehuangcoding commented on #53
You need node 10.

[2019-06-13 01:43] #53 closed

[2019-06-28 16:14] andresmelian opened #56 "Params Does not Work when is pased to schedule a Job"
Im Trying to create a Job with a Basic URL and schedule this Job using params to not repeat the same Job with different Params, but I check an the params are not sending like that into the schedule.

http://localhost:4040/api/job/now

This is the Body I sent:
{
	"name": "SapUp",
	"data": {
		"params":
		{
			"vm_name": "NVD-PW-CA5-SAP-VT-11",
			"instance": "nn",
			"ticket":"TICKETTEST08",
			"ma

[2019-10-17 14:37] darrenbrett commented on #26
Same thing with "COMMAND + C" on a Mac.

[2019-10-22 06:31] hosnas opened #58 "How to secure the rest endpoint"
Hello,
How can I secure agenda rest endpoint so that only authorized people can schedule requests?
There should be an apikey but I don't find anything in doc.

[2019-10-22 18:21] sampathBlam commented on #26
@darrenbrett : Kindly verify if the issue still exists. A fix for this has been pushed to the master. If it works fine, then we can ask the maintainers to close the issue.

[2019-10-26 11:47] sampathBlam commented on #26
@keyvan-m-sadeghi : Can this issue be closed?

[2019-10-26 11:52] 2bigO commented on #26
Sure @sampathBlam, I'll publish a new version today and then close the issue.

[2019-10-26 12:15] 2bigO commented on #58
Hi @hosnas, @Arvant has sent a pull request, #59, that I think addresses this issue. Appreciate if you could confirm.

[2019-10-27 06:35] sampathBlam commented on #58
@keyvan-m-sadeghi : I have added another PR #60 with a very cosmetic change regarding the Error message in case of incorrect API key.

[2019-10-27 06:39] sampathBlam opened #61 "Provide information about the CLI arguments in the documentation"
Do you guys think if we need information about the command line arguments that we give to agenda-rest, in the documentation? At this point, we can get to know about them only by having a look at cli.js. Let me know if this makes sense. I can work on a PR for that.

[2019-10-27 09:23] 2bigO commented on #61
Doesn't `agenda-rest --help` already do this? If so, I guess it's worth mentioning in the readme,

[2019-10-27 09:28] 2bigO commented on #61
I totally agree with having a dedicated CLI section in the readme. Help is always appreciated 🎉

[2019-10-27 09:29] sampathBlam commented on #61
Great ! I will work on it. Thanks.

[2019-10-27 09:49] hosnas commented on #58
@keyvan-m-sadeghi  can confirm it works as intended. Great job @Arvant  and @sampathBlam  :+1:

I just want to say its worth mentioning it in the readme doc.

[2019-10-27 11:25] 2bigO commented on #26
This issue appears to be resolved in the latest release.

[2019-10-27 11:25] #26 closed

[2019-10-27 11:28] 2bigO commented on #58
Agreed, @Arvant and @sampathBlam, any help with documenting this is very much appreciated.

[2019-10-27 16:28] sampathBlam commented on #58
The current implementation with the API key looks neat and sufficient. A more robust way to authenticate would be to handle in-house OAuth2 based authentication with Client credentials strategy. As agenda-rest might be predominantly used in machine-to-machine communications (users wont directly hit the hosted agenda-rest service), it makes sense for the clients(may be another server or an applicat

[2019-10-29 09:56] 2bigO commented on #58
@sampathBlam you're absolutely right, main use case for `agenda-rest` is M2M interactions. As such, I'm not clear on the reason for adding complexities like a refresh token. What's the added value? In addition, I'm very much for `agenda-rest` remaining a microservice, wouldn't adding this be a practice used in monoliths?

[2019-10-30 04:01] #61 closed

[2019-11-09 12:54] sampathBlam commented on #58
@keyvan-m-sadeghi : Yes I agree. Adding OAuth would mean increasing unnecessary complexity and would prove a hindrance in maintaining agenda as a microservice.

[2019-11-09 13:02] sampathBlam opened #64 "[Question] How good or bad it would be if we replace the command line options with a config json which the agenda-rest service can use when we launch it?"
I am just ideating. @keyvan-m-sadeghi , @Arvant : Please provide your thoughts.

[2020-01-15 07:55] sampathBlam commented on #56
@andresmelian
Can it be because of the special characters in the param name and the value ( Underscore and hyphen respectively)? Can you check if it is possible to get a success response if you do not send hyphenated value for `vm_name` ?

[2020-01-15 08:22] sampathBlam commented on #56
@andresmelian : Your job definition url seems to be `https://webstation.cositas.com:3700/api/sap_up`. It does not include the expected param names. Shouldn't your url in the job definition be `https://webstation.cositas.com:3700/api/sap_up/:vm_name/:instance/:ticket/:mail` ?

[2020-02-18 01:57] geosp opened #69 "The job fails when specifying port number, parameters and query strings."
I experienced several job failures when specifying a port number, param values and query parameters.
Here is an snipped of code that exemplifies the issue:

[code]

Here is the agenda job JSON that shows the error message:

[code]

[2020-02-18 02:33] geosp commented on #58
I think is worth considering to adopt the same strategy GitHub uses to secure web-hooks. This strategy is much more secure that passing an none encrypted key. For more documentation please take a look at this https://developer.github.com/webhooks/securing. Here is some example code that shows how to validate the request you could also implement a middle-ware using this approach:

[code]
@keyvan-m-

[2020-02-18 05:56] #69 closed

[2020-02-18 05:57] 2bigO commented on #64
@sampathBlam I'm not opposed to having both options.

[2020-02-18 06:04] 2bigO commented on #58
@geosp seems like a fine solution, I suggest that we keep the `x-api-key` as it still might be the preferred method for some. I'll wait for your PR, then publish to npm and bump up the version.

[2020-02-18 22:43] geosp commented on #58
@keyvan-m-sadeghi Thank you for accepting my suggestion. I will call the header `x-agenda-signature` and it will be optionally  enabled via settings and a flag. While I implement this feature can you please publish and bump the version for me. I have an internal project that depends on PR #70. Thank you so much for your prompt response.

[2020-02-18 23:29] 2bigO commented on #58
@geosp done 🎉

[2020-03-10 13:52] geosp opened #72 "Allow options as a parameter when creating jobs."
Is there a reason why we don't have options as a parameter at the same level of `interval`, `name`, and `data`?  May I implement this feature?

[2020-03-10 13:59] geosp commented on #72
The options I'm referring to are here https://github.com/agenda/agenda#creating-jobs

[2020-03-10 14:47] 2bigO commented on #72
I think the reason is that `options` was introduced after the initial version of `agenda-rest`!

Definitely, appreciated!

[2020-03-10 20:40] geosp commented on #72
@keyvan-m-sadeghi Thank you. The PR is in. My reason for needing this feature is to specify the timezone for my event.

[2020-03-11 13:30] geosp commented on #56
We should probably close this issue. I have tested this code and it works as designed. Is there another reason to keep it opened?

[2020-03-11 13:39] geosp commented on #56
I should add some unit tests for this. @keyvan-m-sadeghi Is that OK?

[2020-03-11 22:37] geosp commented on #56
@keyvan-m-sadeghi I added the unit tests to test this functionality. I think we can close this thicket when #73 is merged.

[2020-03-11 22:49] geosp commented on #56
@andresmelian You can take a look at the relevant unit test for this feature here: https://github.com/agenda/agenda-rest/blob/62dd72e53e174a80eb891807a42f0c64db055831/test.js#L159-L167

[2020-03-11 23:04] 2bigO commented on #56
Great to hear, thanks @geosp :tada:

[2020-03-11 23:12] keyvan-m-sadeghi opened #74 "More maintainers for agenda-rest + npm package"
Would be cool if we can have a couple more maintainers with write access to the repo as well as the npm package for faster publish, as it seems I've been a bit neglectful in this regard.

Anyone feeling like it, your help is very much appreciated.

I'd need npm usernames.

@geosp
@sampathBlam

[2020-03-12 03:06] #72 closed

[2020-03-12 04:03] 2bigO commented on #64
Closing for inactivity

[2020-03-12 04:03] #64 closed

[2020-03-12 04:04] 2bigO commented on #56
Closing as #73 is now merged.

[2020-03-12 04:04] #56 closed

[2020-03-21 15:50] sampathBlam commented on #74
@keyvan-m-sadeghi : That's awesome. I am in !!

[2020-03-23 03:55] 2bigO commented on #74
@sampathBlam great, can I have your NPM username?

[2020-03-23 04:01] OmgImAlexis commented on #74
I really don't get why more users is the right idea here. I would highly suggest you reconsider this and instead use Github actions to publish the package.

If any of the users get their accounts compromised they'll be able to publish, automated publishing avoids this.

[2020-03-23 04:17] 2bigO commented on #74
Very good suggestion @OmgImAlexis, I wasn't aware that GitHub actions supports this use case. Also I noticed that I actually don't have admin rights over the repo. Could you please help with setting this up with best practices?

[2020-03-23 04:21] OmgImAlexis commented on #74
Don't have a great deal of spare time but [this](https://medium.com/faun/automate-your-npm-publish-with-github-actions-dfe8059645dd) should help and I'm free to answer questions you have. I'd suggest making the publish happen on new commit to master that way it'll only happen when we merge a PR, or push directly to master.

[2020-08-14 16:37] abhinavpanse opened #91 "How do I deploy this on heroku?"
I am trying to deploy this to Heroku but it's not working.
How can I do that?

[2020-08-15 20:13] sfny commented on #91
On heroku, update your dynos to start with something like `web agenda-rest --dburi mongoconnectionURI --port $PORT`. I'm using a dburi with mongo Atlas, I imagine it works for other mongo setups. Heroku needs to assign the port so be sure to include `--port $PORT`, that was tricky for my setup.

[2020-08-15 20:30] sfny opened #92 "POST to /job/every consistently 'overwrites' last job instance with same name"
Hi, I've setup agenda-rest after a year using agenda in a monorepo. For some reason, when I post to /job/every instead of creating a new job in the db, the most recent job is removed and a new job is created with a new mongo _id.

I first noticed it in my app, but I've replicated the behavior with postman and I'm now pretty sure I've isolated it to the agenda-rest app I have running on heroku.

Wh

[2020-10-09 04:33] geosp commented on #74
I'm available too. I can help with setting up Github actions.

[2020-10-09 04:37] geosp opened #93 "Implement support for passing agenda settings via the CLI"
- We have the need to pass agenda configuration settings when invoking agenda rest.
- Tests are failing because xo is no longer working as expected.
- Tests are also failing because we included a yarn lock file.

[2020-10-09 06:22] 2bigO commented on #74
Great @geosp, I really haven't found the time to go about it.

@OmgImAlexis appreciate if you can give @geosp write access to the repo, I can do the npm side.

[2020-10-09 13:30] geosp commented on #40
@keyvan-m-sadeghi Do you want me to work on this?

[2020-10-09 17:13] geosp commented on #74
@keyvan-m-sadeghi and @OmgImAlexis  I will do my best to help. I notice that the build was failing for a long time so I took the time to fix that too in my latest PR #93 . Thank you.

[2020-10-10 03:46] 2bigO commented on #74
Looks good @geosp, what's your username on npm?

[2020-10-10 05:31] geosp commented on #74
It is gffajardo.

[2020-10-12 21:10] geosp commented on #74
@keyvan-m-sadeghi and @OmgImAlexis Any word regarding access or PR #93 ? I know you are busy, please let me know. Thank you.

[2020-10-12 21:42] OmgImAlexis commented on #74
Invite should have been sent on GitHub sorry for it taking so long.

[2020-10-14 17:23] geosp commented on #74
Thank you @OmgImAlexis

[2020-10-14 17:31] geosp commented on #74
@keyvan-m-sadeghi Any word in regards to NPM access?

[2020-10-14 18:19] 2bigO commented on #74
Sorry @geosp been away for a few days. I just checked npm and noticed I no longer have admin access there.

@OmgImAlexis can you give write access to @geosp on npm? Username is `gffajardo`.

Great work on refactoring @geosp 🎉 👍

[2020-10-17 02:05] geosp commented on #74
Thank you @keyvan-m-sadeghi. I want to use this PR to test deploying to npm using GitHub actions. I assume you approve of the changes in #94 .

[2020-10-17 05:26] 2bigO commented on #74
Yeah all good 👌
Did you get the npm access? I have write access but not admin, let me know if I can help with anything @geosp

[2020-10-17 05:38] 2bigO commented on #74
@geosp I'm trying to give you access through the "teams" feature of npm, check your email for an invite from "assister" org and let me know if that gives you write access to the `agenda-rest` package

[2020-10-17 05:51] 2bigO commented on #74
@geosp give me a hint when you accepted the invite, apparently there's an additional step I need to take before you actually get write access (adding you to `agenda-rest-write` team, which requires being a member of the assister org first, I'm not sure even @OmgImAlexis can add new members now, seems I've created this package under this username first then changed it to an org at some point, which

[2020-10-17 05:55] 2bigO commented on #40
@geosp sure, all yours!

[2020-10-17 17:22] geosp commented on #74
@keyvan-m-sadeghi Thank you for your assistance. I'm in the org now.

[2020-10-17 19:08] 2bigO commented on #74
@geosp done, you now have write access to the npm package. You need to enable 2FA in your npm account to publish though.

Feel free to merge pull requests as they come in, welcome aboard!

[2020-10-29 20:35] #93 closed

[2020-10-29 20:39] geosp commented on #74
Thank you, guys. I got really busy there for a while. I will be working on the GitHub-actions task now.

[2020-10-30 00:14] geosp opened #95 "There is a mismatch between the npm package version and the sour code package.json."
Looking at https://github.com/agenda/agenda-rest/blob/master/package.json#L3 it indicates version `1.2.4` but NPM has 1.3.0.
I propose we change the version to `1.3.1`.

[2020-10-30 03:48] geosp opened #97 "Implement GitHub actions."
Implement GitHub actions for PRs and for NPM deployment.

[2020-10-30 03:52] geosp commented on #74
@keyvan-m-sadeghi and @OmgImAlexis Hello guys. I created an issue for the implementation of GitHub actions and a PR to resolve the issue. Please take look at PR #96 .

[2020-10-31 18:48] #95 closed

[2020-10-31 18:48] #97 closed

[2020-11-04 23:04] geosp commented on #74
@OmgImAlexis Can you please add the NPM security token to GitHub so that the workflow is able to publish the library to NPM.  Thank you so much for your help.

[2020-11-05 03:14] geosp commented on #74
I was able to publish the new version manually, but it will be nice to have it done automatically.

[2020-11-05 04:17] geosp opened #100 "Migrate tests to Mocha"
- [ ] Agenda is now using mocha for testing instead of ava.
- [ ] The latest version of ava is not working with our current tests.

[2020-11-15 11:30] ArturMoczulski opened #101 "Missing documentation on how to define jobs"
For the life of mine I can not figure out how to use the `POST /job` endpoint to define a job or load my already defined jobs into the `agenda-rest` instance.

I've spent about four hours reading the documentation and reading through the source code and I completely do not understand how to use this endpoint.

In the docs it says the endpoint takes a `url`, but I have no idea what should be under

[2020-11-22 12:55] 2bigO commented on #101
@ArturMoczulski the `url` is for jobs that themselves reside in HTTP endpoints, a GET/POST/PUT/... request from, e.g. an email service where you want to send out an email in a specific time.

If you want to invoke some js code which you have access to, pure `agenda` is actually the right way to do so. In a hybrid use case (some your own code, some services) you can serve your code as HTTP endpoint

[2020-11-22 13:01] 2bigO commented on #74
Sorry that I've been away @geosp, it is indeed nice to automate publishing, hope @OmgImAlexis reads this as I don't have admin rights for the repo to give you the keys.

[2020-11-22 13:02] 2bigO commented on #74
Also thanks for the great work on updating everything @geosp  🎉

[2020-11-22 13:09] ArturMoczulski commented on #101
Got it.

So I take the JS code for my jobs does not have to be any `agenda`-specific code, as `agenda-rest` already utilizes `agenda` to take care of the scheduling. Seems like I should just expose my actual job logic as plain rest endpoints that could be completely non-`agenda`.

I am getting this right?

What got me confused was seeing that `agenda-rest` already instantiates `agenda` in itself s

[2020-11-22 13:21] 2bigO commented on #101
@ArturMoczulski exactly, you got it.

[2020-11-22 15:27] ArturMoczulski commented on #101
Thanks for taking the time to explain.

I'll try to find 30-60 minutes in the next couple of days to prepare a documentation with a solid example of this once I get it to work 👍

[2020-11-22 15:27] ArturMoczulski commented on #101
f

[2020-11-22 15:27] #101 closed

[2021-01-29 20:20] bulolo opened #105 "got 404,why"
![image](https://user-images.githubusercontent.com/10026498/106323479-73b6e980-62b2-11eb-9c78-15f71a4836db.png)

[2021-01-29 20:48] #105 closed

[2021-02-21 17:28] chaitanya642000 opened #122 "Cannot find module './settings'"
client@0.1.0 start C:\Users\hp\Desktop\SocialNetwork\client

internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module './settings'
Require stack:
- C:\Users\hp\Desktop\SocialNetwork\client\node_modules\@nodelib\fs.walk\out\index.js
- C:\Users\hp\Desktop\SocialNetwork\client\node_modules\fast-glob\out\readers\stream.js
- C:\Users\hp\Desktop\SocialNetwork\client\node_modules\fa

[2021-05-09 19:00] hbinduni opened #162 "How to repeat job at Friday at 5am for every week"
Hi, using `agendash`, i can configure `job` like this:

<img width="492" alt="agendash repeat job every week" src="https://user-images.githubusercontent.com/1378410/117583608-43dd7480-b132-11eb-8a45-c121db69f5b5.png">

how can i do the same using `/api/job/every`?
i am trying something like this:

[code]

but it seem not schedule correctly.

[2021-05-10 11:46] simison commented on #4
I'll close this old project issue — any remaining todos can be worked out in individual issues. :-)

[2021-05-10 11:46] #4 closed

[2021-05-20 05:23] ccovarrubias commented on #162
Have you tried with cron syntax? Here you can write your expression with live preview https://crontab.guru/
Yours could be "0 5 * * 5".

Don't try the old syntax with "?", agenda only recognizes (*),(-),(/), (,).

Hope it helps.

[2021-06-09 02:05] hbinduni commented on #162
thank you @ccovarrubias it work great

[2021-06-09 02:05] #162 closed

[2022-01-23 18:36] the-vampiire commented on #105
i am having the same issue. did you figure this out @bulolo?

[2022-01-23 18:42] the-vampiire commented on #105
ahh `root` must be set to `HOST:PORT/api`!

ex: `localhost:4040/api/job`

[2022-01-23 19:52] the-vampiire opened #204 "Must run on port 8080? Failure ECONNREFUSED 127.0.0.1:8080"
When i run `agenda-rest -u <mongo URI> -p 8082` i get the following failure on jobs

[code]

my job definitions do not use port 8080 so i was very confused.

i then ran `agenda-rest` on port 8080 to see if it was failing to connect to the agenda-rest API (expecting it on 8080) and the job worked!

i dont see anywhere in the code this hardcoded expectation of agenda-rest running on 8080. where is t

[2022-01-23 20:02] the-vampiire commented on #204
for reference here is my full setup:

1. start agenda-rest from CLI: `agenda-rest -u <mongodb uri> -p 8080` (only way to work is on `8080`)
2. create a job definition: `POST http://localhost:8080/api/job`

[code]
3. create a once job: `POST http://localhost:8080/api/job/once`

[code]

on my web service (running on `8008`) i added handlers for `GET /webhook/:eventId` and `POST /invoked` to test the

[2022-01-23 20:44] the-vampiire commented on #204
well im not sure whats going on but now i am getting ECONNREFUSED even when running on 8080. 😢

[2022-05-11 13:41] devagrawal09 opened #205 "Not maintained anymore?"
I was looking for something like this for a project that I am working on. Is this not actively maintained anymore? I only see renovate-bot commits for around 2 years now.
I would love to contribute and help maintain this project if needed, and if there are issues that need to be worked on.

[2022-05-11 14:01] santiq commented on #205
@devagrawal09

You could try with agendash (https://github.com/agenda/agendash), it exposes an API under the hood

[2022-05-11 14:17] devagrawal09 commented on #205
@santiq is there documentation of the API?

[2022-05-11 15:05] santiq commented on #205
@devagrawal09 No :/

However you can see here the list of endpoints, just 4 (express)
https://github.com/agenda/agendash/blob/master/lib/middlewares/express.js

[2022-06-30 03:05] Jaykingamez opened #206 "How to introduce logging"
Introduce logging.

For example, if I want to count the number of times my API is run, how should I go about going so with agenda-rest? How about a system that logs the numbers of iterations an API is called?

Thank you, :)

[2022-08-18 06:08] Jaykingamez commented on #205
Same I would also like to contribute. Well, my work needs this package. :(

[2022-08-18 14:36] devagrawal09 commented on #205
@Jaykingamez it might be better just to use `agendash` and their api

[2022-08-18 15:21] Jaykingamez commented on #205
It seems good. But i kinda need the callbacks that agenda-rest has.

[2022-08-23 03:27] Jaykingamez commented on #92
![image](https://user-images.githubusercontent.com/39272482/186062962-78a65359-1151-42e3-9fc5-472b0ea9642c.png)
It seems that is [agenda's](https://github.com/agenda/agenda#everyinterval-name-data-options) default behaviour

There are ways to circumvent it, look at [this](https://github.com/agenda/agenda/issues/209)

[2022-08-29 08:06] Jaykingamez commented on #204
hello, have you solved this issue in your fork?

[2022-09-05 22:47] the-vampiire commented on #204
@Jaykingamez yes. See [from this commit](https://github.com/NFToolkit/agenda-rest/commit/2d2dc19ce436a3f4a94bae1782a85bb46d3b6a3a) up to [this commit](https://github.com/NFToolkit/agenda-rest/commit/5c9d5ccb4be9ae8bb8c9ede0e77ce640e0caf575). The others after that were project/docker specific customization.